@model IEnumerable<Games.Models.game>

@{
    ViewBag.Title = "Index";
}

<h2>ADMIN</h2>
<p>Admin Panel is temporarily accessible without a password for demonstration purposes.</p>
<p>
    @Html.ActionLink("Add New Game", "Create", null, new { @class = "mybtn" }) |
    @Html.ActionLink("Comments", "Comments", null, new { @class = "mybtn" })
</p>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>
                Game Title
            </th>
            <th>
                Image
            </th>


            <th>
                Category
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="txc">
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td class="txc">
                    <img src="@Html.DisplayFor(modelItem => item.image)" width="90" />
                </td>



                <td class="txc">
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td class="txc">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })<br />
                    @Html.ActionLink("Details", "Details", new { id = item.Id })<br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })<br />
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });</script>
